.navigation{
    display: flex;
    align-items: center;;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem;
    background: var(--card-color);
}
.navigation ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
}
.navigation ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}
.navigation ul li{
    display: flex;
}