.home_container {
  position: relative;
  overflow: hidden;
}

.home_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/hero.jpeg') center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: -2;
}

.home_container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.788); 
  z-index: -1;
}
.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.about_container > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* justify-content: center; */
}
.about_container div img{
    min-width: 200px;
    max-width: 100%;
    /* height: auto; */
}
@media (max-width: 700px) {
    .about_container > div{
        grid-template-columns: 1fr;
    }
    .about_container{
    gap: 1rem;
    padding: 1rem;
}
}