/* Reset paddings and margins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* // Colors variables */
:root{
  --primary-color: #4CAF50;
  --secondary-color: #ff3c00;
  --background-color: #f0f0f0;
  --text-color: #333;
  --white-color: #fff;
}
HTML[data-theme='dark']{
  --primary-color: #4CAF50;
  --secondary-color: #ff3c00;
  --background-color: #333;
  --text-color: #f0f0f0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

/* font sizes and styles*/
h1{
    font-size: 3.8rem;
}
h2{
font-size: 2.8rem;
}
p{
    font-size: 1.2rem;
}
.text-center{
    text-align: center;
}
.text-decoration-none{
    text-decoration: none;
}
.text-color{
    color: var(--text-color);
}
.text-red{
    color: var(--secondary-color);
}


/* Utility style class */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.flex-row{
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.gap-1{
    gap: 1rem;
}
.gap-0\.5{
    gap: 0.5rem;
}

 /* Border, padding, margin */
.border{
    border: 2px solid green;
}
.p-0\.5{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.min-h-80{
    min-height: 80vh;
}
.min-h-50{
    min-height: 50vh;
}
.w-100{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.my-1{
    margin: 1rem 0;
}
.my-0\.5{
    margin: 0.5rem 0;
}

/* /Button styles */ 
.btn{
background-color: var(--secondary-color);
color: var(--text-color);
border: none;
padding: 0.5rem 1rem;
border-radius: 4px;
cursor: pointer;
font-weight: 600;
transition: background-color 0.4s ease, color 0.4s ease;
}
.btn:disabled{
    background-color: var(--secondary-color);
    color: var(--text-color);
    opacity: 0.6;
    cursor: not-allowed;
}
.btn:hover{
    background-color: var(--white-color);
    color: var(--secondary-color);
}
.text-green{
    color: green;
}
.hero-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    font-weight: 700;
    font-size: 1.001rem;
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}
.hero-btn:disabled{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    opacity: 0.6;
    cursor: not-allowed;
}
.hero-btn:hover{
    border: 2px solid var(--secondary-color);
    background-color: var(--white-color);
    color: var(--secondary-color);
}