.navigation ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
.navigation ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}
.header_container{
    background-color: var(--surface-color);
}
.theme_toogle{
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
}
.menu_btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .navigation ul{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}
