.navigation ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
.navigation ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}


